# FPL Dashboard (v1.0)

## Endpoints

* https://fantasy.premierleague.com/api/bootstrap-static/ - Main URL for all premier league players, teams, global gameweek summaries
* https://fantasy.premierleague.com/api/fixtures/ - A list of all 380 matches that will happen over the season
* https://fantasy.premierleague.com/api/element-summary/{EID}/ - Remaining fixtures left for PL player as well as previous fixtures and seasons
* https://fantasy.premierleague.com/api/event/{GW}/live/ - Stats of all PL players that played in GW
* https://fantasy.premierleague.com/api/entry/{TID}/ - Basic info on FPL Manager
* https://fantasy.premierleague.com/api/entry/{TID}/history/ - A summary of a FPL Manager for each GW up until the current GW The past season results of a FPL Manager The chips a FPL Manager has played
* https://fantasy.premierleague.com/api/entry/{TID}/transfers/ - All transfers of given team TID
* https://fantasy.premierleague.com/api/entry/{TID}/event/{GW}/picks/ - Squad picks of team TID for week GW. Both TID and GW should be numeric
* https://fantasy.premierleague.com/api/leagues-classic/{TID}/standings/ - Information about league with id LID, such as name and standings, add ?page_standings={P} for leagues with more than 50 teams

In [35]:
import requests
from pprint import pprint

In [36]:
# base url for all FPL API endpoints
base_url = 'https://fantasy.premierleague.com/api/'

# get data from bootstrap-static endpoint
r = requests.get(base_url+'bootstrap-static/').json()

# show the top level fields
pprint(r, indent=2, depth=1, compact=True)

{ 'chips': [...],
  'element_stats': [...],
  'element_types': [...],
  'elements': [...],
  'events': [...],
  'game_config': {...},
  'game_settings': {...},
  'phases': [...],
  'teams': [...],
  'total_players': 11122739}

## Players

In [37]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [38]:
players = pd.json_normalize(r['elements'])

In [39]:
p_features = players.columns.tolist()
p_features

['can_transact',
 'can_select',
 'chance_of_playing_next_round',
 'chance_of_playing_this_round',
 'code',
 'cost_change_event',
 'cost_change_event_fall',
 'cost_change_start',
 'cost_change_start_fall',
 'dreamteam_count',
 'element_type',
 'ep_next',
 'ep_this',
 'event_points',
 'first_name',
 'form',
 'id',
 'in_dreamteam',
 'news',
 'news_added',
 'now_cost',
 'photo',
 'points_per_game',
 'removed',
 'second_name',
 'selected_by_percent',
 'special',
 'squad_number',
 'status',
 'team',
 'team_code',
 'total_points',
 'transfers_in',
 'transfers_in_event',
 'transfers_out',
 'transfers_out_event',
 'value_form',
 'value_season',
 'web_name',
 'region',
 'team_join_date',
 'minutes',
 'goals_scored',
 'assists',
 'clean_sheets',
 'goals_conceded',
 'own_goals',
 'penalties_saved',
 'penalties_missed',
 'yellow_cards',
 'red_cards',
 'saves',
 'bonus',
 'bps',
 'influence',
 'creativity',
 'threat',
 'ict_index',
 'starts',
 'expected_goals',
 'expected_assists',
 'expected_goal_involvements',
 'expected_goals_conceded',
 'influence_rank',
 'influence_rank_type',
 'creativity_rank',
 'creativity_rank_type',
 'threat_rank',
 'threat_rank_type',
 'ict_index_rank',
 'ict_index_rank_type',
 'corners_and_indirect_freekicks_order',
 'corners_and_indirect_freekicks_text',
 'direct_freekicks_order',
 'direct_freekicks_text',
 'penalties_order',
 'penalties_text',
 'expected_goals_per_90',
 'saves_per_90',
 'expected_assists_per_90',
 'expected_goal_involvements_per_90',
 'expected_goals_conceded_per_90',
 'goals_conceded_per_90',
 'now_cost_rank',
 'now_cost_rank_type',
 'form_rank',
 'form_rank_type',
 'points_per_game_rank',
 'points_per_game_rank_type',
 'selected_rank',
 'selected_rank_type',
 'starts_per_90',
 'clean_sheets_per_90']

In [40]:
players[['id', 'web_name', 'team', 'element_type', 'expected_goal_involvements_per_90']].head()

   id      web_name  team  element_type  expected_goal_involvements_per_90
0   1  Fábio Vieira     1             3                               0.00
1   2       G.Jesus     1             4                               0.54
2   3       Gabriel     1             2                               0.19
3   4       Havertz     1             4                               0.55
4   5          Hein     1             1                               0.00

## Teams

In [41]:
teams = pd.json_normalize(r['teams'])
teams.head()

,code,draw,form,id,loss,name,played,points,position,short_name,strength,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,4,None,False,0,1250,1360,1260,1370,1240,1350,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,3,None,False,0,1110,1240,1080,1160,1140,1320,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,3,None,False,0,1140,1175,1080,1140,1190,1210,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,3,None,False,0,1080,1225,1070,1100,1090,1350,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,3,None,False,0,1110,1150,1080,1100,1140,1200,131

## Positions

In [42]:
positions = pd.json_normalize(r['element_types'])
positions.head()

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_select,squad_max_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,None,None,1,1,True,[12],73
1,2,Defenders,DEF,Defender,DEF,5,None,None,3,5,False,[],239
2,3,Midfielders,MID,Midfielder,MID,5,None,None,2,5,False,[],320
3,4,Forwards,FWD,Forward,FWD,3,None,None,1,3,False,[],78

## Combined

In [43]:
df = pd.merge(left=players,right=teams,left_on='team',right_on='id')
df = df.merge(positions,left_on='element_type',right_on='id')
df = df.rename(columns = {'name':'team_name','singular_name':'position_name'})
df[['first_name','second_name','team_name','position_name']].head()

  first_name           second_name team_name position_name
0      Fábio       Ferreira Vieira   Arsenal    Midfielder
1    Gabriel     Fernando de Jesus   Arsenal       Forward
2    Gabriel  dos Santos Magalhães   Arsenal      Defender
3        Kai               Havertz   Arsenal       Forward
4       Karl                  Hein   Arsenal    Goalkeeper

## Gameweek data

In [44]:
# get data from 'element-summary/{PID}/' endpoint for PID=4
r = requests.get(base_url + 'element-summary/4/').json()

# show top-level fields for player summary
pprint(r, depth=1)

{'fixtures': [...], 'history': [...], 'history_past': [...]}

In [45]:
pprint(r['history'][0])

{'assists': 1,
 'bonus': 3,
 'bps': 48,
 'clean_sheets': 1,
 'creativity': '24.1',
 'element': 4,
 'expected_assists': '0.04',
 'expected_goal_involvements': '0.49',
 'expected_goals': '0.45',
 'expected_goals_conceded': '0.47',
 'fixture': 2,
 'goals_conceded': 0,
 'goals_scored': 1,
 'ict_index': '12.5',
 'influence': '54.8',
 'kickoff_time': '2024-08-17T14:00:00Z',
 'minutes': 90,
 'modified': False,
 'opponent_team': 20,
 'own_goals': 0,
 'penalties_missed': 0,
 'penalties_saved': 0,
 'red_cards': 0,
 'round': 1,
 'saves': 0,
 'selected': 1087445,
 'starts': 1,
 'team_a_score': 0,
 'team_h_score': 2,
 'threat': '46.0',
 'total_points': 12,
 'transfers_balance': 0,
 'transfers_in': 0,
 'transfers_out': 0,
 'value': 80,
 'was_home': True,
 'yellow_cards': 0}

In [46]:
def get_gameweek_history(player_id):
    '''get all gameweek info for a given player_id'''
    # send GET request to
    # https://fantasy.premierleague.com/api/element-summary/{PID}/
    r = requests.get(base_url + 'element-summary/' + str(player_id) + '/').json()

    df = pd.json_normalize(r['history'])

    return df

In [47]:
# show player #4's gameweek history
get_gameweek_history(4)[
    [
        'round',
        'total_points',
        'minutes',
        'goals_scored',
        'assists'
    ]
].head()

   round  total_points  minutes  goals_scored  assists
0      1            12       90             1        1
1      2             2       90             0        0
2      3             8       90             1        0
3      4             2       90             0        0
4      5             2       90             0        0

### Player season history

In [48]:
def get_season_history(player_id):
    '''get all past season info for a given player_id'''
    
    # send GET request to
    # https://fantasy.premierleague.com/api/element-summary/{PID}/
    r = requests.get(
            base_url + 'element-summary/' + str(player_id) + '/'
    ).json()
    
    # extract 'history_past' data from response into dataframe
    df = pd.json_normalize(r['history_past'])
    
    return df

In [49]:
# show player #1's gameweek history
get_season_history(1)[
    [
        'season_name',
        'total_points',
        'minutes',
        'goals_scored',
        'assists'
    ]
].head(10)

  season_name  total_points  minutes  goals_scored  assists
0     2022/23            40      500             1        2
1     2023/24            24      290             1        3

### Bringing it all together

In [50]:
# select columns of interest from players df
players = players[
    ['id', 'first_name', 'second_name', 'web_name', 'team',
     'element_type']
]

# join team name
players = players.merge(
    teams[['id', 'name']],
    left_on='team',
    right_on='id',
    suffixes=['_player', None]
).drop(['team', 'id'], axis=1)

# join player positions
players = players.merge(
    positions[['id', 'singular_name_short']],
    left_on='element_type',
    right_on='id'
).drop(['element_type', 'id'], axis=1)

players.head()

,id_player,first_name,second_name,web_name,name,singular_name_short
0,1,Fábio,Ferreira Vieira,Fábio Vieira,Arsenal,MID
1,2,Gabriel,Fernando de Jesus,G.Jesus,Arsenal,FWD
2,3,Gabriel,dos Santos Magalhães,Gabriel,Arsenal,DEF
3,4,Kai,Havertz,Havertz,Arsenal,FWD
4,5,Karl,Hein,Hein,Arsenal,GKP

In [56]:
from tqdm.auto import tqdm
tqdm.pandas()

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tqdm in c:\users\atw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (4.67.1)
Requirement already satisfied: colorama in c:\users\atw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from tqdm) (0.4.6)

[notice] A new release of pip is available: 23.3.2 -> 24.3.1
[notice] To update, run: C:\Users\atw\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [57]:

# get gameweek histories for each player
points = players['id_player'].progress_apply(get_gameweek_history)

# combine results into single dataframe
points = pd.concat(df for df in points)

# join web_name
points = players[['id_player', 'web_name']].merge(
    points,
    left_on='id_player',
    right_on='element'
)

100%|██████████████████████████████████████████████████████| 710/710 [04:43<00:00,  2.50it/s]

In [58]:
# get top scoring players
points.groupby(
    ['element', 'web_name']
).agg(
    {'total_points':'sum', 'goals_scored':'sum', 'assists':'sum'}
).reset_index(
).sort_values(
    'total_points', ascending=False
).head()

     element web_name  total_points  goals_scored  assists
327      328  M.Salah           209            18       13
181      182   Palmer           153            13        7
98        99   Mbeumo           136            13        3
350      351  Haaland           123            16        1
400      401     Isak           119            13        4